footer {
	&.o_footer {
		background:none !important;
		#footer {
			border:none !important;
		}
	}
}

body footer {
	background: none;
	#footer {
		padding: 0;
	}
}


.footer-top {
	//padding: 20px 0;
	padding-bottom: 15px;
	//padding: 0;
	//background: #232324; // negro
    //background: #66CCFF; // turquesa
    //border-bottom: 1px solid #333333;
    h4 {
    	//color: #fff;
	    font-weight: 500;
	    letter-spacing: 1px;
	    font-size: 18px;
    }
	.link-follow {
		display: inline-block;
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
				a {
					font-size: 16px;
					line-height: 36px;
					//color: #fff;
					width: 35px;
					height: 35px;
					background: rgba(255, 255, 255, 0.1);
					display: block;
					text-align: center;
					border-radius: 50%;
					transition : all, 0.4s, ease;
					&:hover {
						background: rgba(0,0,0,0.9);
						color: $as-light;
					}
				}
			}
		}
	}
	.js_subscribe  {
		width: 100%;
		.alert {
			width: 100%;
			margin: 0;
			padding: 5px 0;
		}
	}
	.js_subscribe_email {
		height: 42px;
		//border: none;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.input-group-btn {
		.btn {
			line-height: 40px;
			padding: 0 26px;
			border-radius: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 500;
		}
	}
}
.middle-footer {
	//background: #66CCFF; // turquesa
	padding-top: 15px;
	padding-bottom: 15px;
	.fot-col {
		padding: 0px 25px;
		&:not(:first-child) {
			//border-left: 1px solid #333333;
		}
		@media(max-width: 991px){
			&:nth-child(1),
			&:nth-child(2) {
				border-bottom: 1px solid #333333;
			}
			&:nth-child(3) {
				border-left: none;
			}
		}
		@media(max-width: 767px){
			padding: 20px;
			border-left: none;
			border-bottom: 1px solid #333333;
		}
		h3 {
	        font-size: 15px;
		    font-weight: 500;
		    //color: rgba(255, 255, 255, 0.9);
		    color: #323232 !important; // COLOR MENU
		    //margin: 0 0 25px;
		    margin: 0;
		    padding: 0 0 10px;
		    /*position: relative;
		    &:after {
		    	width: 35px;
			    height: 1px;
			    background: #585858;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    content: "";
		    }*/
		}

		address {
			//color: rgba(255, 255, 255, 0.5);
			> div {
				 > span {
				    font-size: 15px;
				    margin-bottom: 10px;
				    display: block;
				    letter-spacing: 0.5px;
				}
			}
			> div > div {
			    position: relative;
			    padding-left: 30px;
			    margin-bottom: 10px;
			    i {
		    	    position: absolute;
				    top: 4px;
				    left: 0;
				    color: #fff;
			    }
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				position: relative;
			    padding: 0 0 0 15px;
			    margin: 0 0 10px 0;
			    //margin: 0;
			    &:last-child {
			    	margin-bottom:0;
			    }
				a {
					//color: #a2a2a2;
					color: #323232 !important; // COLOR MENU
				    font-size: 14px;
				    font-weight: 400;
					&:hover {
						color:$as-light;
					}
				}
				&:after {
				    content: "";
				    width: 5px;
				    height: 5px;
				    position: absolute;
				    top: 9px;
				    left: 0;
				    border-top: 1px solid #9c9c9c;
				    border-right: 1px solid #9c9c9c;
				    transform: rotate(45deg);
				}
			}
		}
	}
}
#footer .footer-bottom {
	//border-top: 1px solid #333333;
	//background: #232324;
    //padding: 10px 0;
	.copyright {
		margin: 0;
		font-size: 13px;
		color: #a2a2a2;
	}
}

.wrapp_lock {
	width: 235px;
	height: 42px;
	margin: 0 auto;
}
.seguridad_lock {
	width: 42px;
	height: 42px;
	float: left;
}
.seguridad_lock_texto {
	width: 240px;
	padding-top: 5px;
	height: 42px;
	font-size: 7px;
	margin-left: 50px;
}
#afip_logo{
	width: 37px;
	height: 50px;
	margin: 0 auto;
}
#pdp_logo{
	width: 112px;
	height: 50px;
	margin: 0 auto;
}
#info{
	width: 147px;
	height: 51px;
	margin: 0 auto;
}

@media only screen and (max-width: 768px) {
	.seguridad_lock_texto{
		width: 180px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
	.wrapp_lock  {
		width: 100%;
		height: 100%;
	}
	.seguridad_lock{
		width: 20px;
		height: 20px;
		margin-top: 10px;
	}
	.seguridad_lock_texto{
		font-size: 6px;
		margin-left: 23px;
	}
	#afip_logo{
		width: 100%;
		height: 100%;
	}
	#pdp_logo{
		width: 100%;
		height: 100%;
	}
	#info{
		width: 100%;
		height: 100%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 860px){
	.seguridad_lock_texto{
		width: 100px;
	}
}
@media only screen and (min-width: 861px) and (max-width: 1000px){
	.seguridad_lock_texto{
		width: 117px;
	}
}
@media only screen and (min-width: 1001px) and (max-width: 1400px){
	.seguridad_lock_texto{
		width: 140px;
	}
}

