@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/*Font*/
$as-font-alt:			'Montserrat';
$as-font-main:			'Montserrat';

body { font-family:$as-font-main !important;
       letter-spacing: 2px;
     }
