footer .o_footer_copyright {
	display:none !important;
}

/*Owl Nav*/
.as-products-slider{
	padding: 50px 0 20px;
}
/*Product list*/

/*Side bar*/
/*sidebar Checkbox*/
@mixin checkbox {
	label:not(.css_attribute_color){
		input[type="checkbox"] {
			opacity: 0;
			position: absolute;
			+ span {
				position: relative;
				padding-left: 18px;
				&:before {
					content: "";
					position: absolute;
					top: 7px;
					left: 3px;
					width: 4px;
					height: 4px;
					box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 3px #000;
					background: #fff;
					opacity: 0.3;
				}
			}
		}
		&:hover {
			input[type="checkbox"] {
				+ span:before {
					background: $as-dark;
					opacity: 0.6;
				}
			}
		}
		&.active {
			input[type="checkbox"] {
				+ span:before {
					background: $as-dark;
				}
			}
		}
	}

	&.active {
		label:not(.css_attribute_color){
			input[type="checkbox"] {
				+ span:before {
					background: $as-dark;
				}
			}
		}
	}
}

/* Sidebar
------------------------------*/
/*category bar hided if not active*/
#products_grid_before:not(.col-lg-3) {
	+ #products_grid {
		.products_pager {
			.shop-filter-mob {
				display: none;
			}
		}
	}
}

@media(min-width: 1024px){
	#products_grid_before {
		max-width: 300px;
	    flex: 0 0 300px;
	    &:not(.col-lg-3) {
	    	+ #products_grid {
	    		max-width: 100%;
	    		flex: 0 0 100%;
	    	}
	    }
    }
    #products_grid {
    	max-width: calc(100% - 300px);
    	flex: 0 0 calc(100% - 300px);
    	padding-left: 30px;
    }
}
@media(min-width: 1200px){
	#products_grid {
		.as-product-list {
			.col-sm-6 {
				&:not(.oe_list) {
				    flex: 0 0 25%;
					max-width: 20%;
				}
			}
		}
	}
}
@media(max-width: 991px){
	#products_grid {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

#products_grid_before {
    //border: 1px solid #eee;
    padding: 20px;
    margin-bottom: auto;
    text-transform: uppercase;
	h2{
		color: #323232;
	    font-size: 14px;
	    font-weight: 500;
	    position: relative;
	    margin: 0 0 15px !important;
	    padding: 0;
	    text-transform: uppercase;
	}


	/*Category listing */
	> ul.nav {
	    margin: 0 0 30px !important;
	    padding: 0 0 20px;
	    border-bottom: 1px solid #ddd;
	    &:last-child {
	    	border-bottom: none;
		    margin-bottom: 0 !important;
		    padding-bottom: 0;
	    }
		li.nav-item {
			margin: 0;
			padding: 10px 0;
			position: relative;
			i.text-primary {
				cursor: pointer;
				position: absolute;
				top: 9px;
				right: 0;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				color: $as-dark !important;
				&:before {
					content: "";
					width: 8px;
					height: 8px;
					border-top: 1px solid $as-dark;
					border-right: 1px solid $as-dark;
					float: left;
					transform: rotate(136deg);
					-webkit-transform: rotate(136deg);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: 6px auto auto;
					@include transition(all, 0.4s, ease);
				}
				&.fa-chevron-down {
					&:before {
						margin-top:10px;
						transform: rotate(-45deg);
						-webkit-transform: rotate(-45deg);
					}
				}
			}
			a {
				background: none;
				padding: 0 0 0 20px;
				font-size: 14px;
    			color: rgba(84, 84, 84, 0.8);
				position: relative;
				&:after {
					content: "";
					position: absolute;
					top: 7px;
					left: 3px;
					width: 4px;
					height: 4px;
					box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 3px #000;
					background: #fff;
					opacity: 0.3;
					border-radius: 50%;
				}
				&.active {
					background: none;
					color: $as-theme;
					&:after {
						opacity: 0.7;
						background:#000;
					}
				}
			}
		}
		ul {
			margin-left: 15px;
			padding-top: 10px;
		}
	}
	/*js_attributes*/
	.js_attributes {
	    margin-bottom: 40px;
	    border-bottom: 1px solid #ddd;
	    padding-bottom: 20px;
	    &:last-child {
	    	border-bottom: none;
		    margin-bottom: 0;
		    padding-bottom: 0;
	    }
	    ul.nav {
	    	> li {
	    		margin-bottom: 10px;
	    		&:last-child {
	    			margin-bottom:0;
	    		}
	    	}
	    }
	}

	.slider-price-filter {
		border-bottom: 1px solid #ddd;
	    margin-bottom: 40px;
	    padding-bottom: 30px;
	    &:last-child {
	    	border-bottom: none;
		    margin-bottom: 0;
		    padding-bottom: 0;
	    }
	}
	.spf-box {
	    .slider.slider-horizontal {
	    	width: 100%;
	    	height: 14px;
	    	.slider-track {
	    		height: 2px;
			    margin-top: -2px;
	    	}
	    	.slider-selection {
	    		background: #333;
				box-shadow: none;
				border-radius: 0;
	    	}
	    	.slider-handle {
	    		background: $as-theme;
	    		width: 10px;
	    		height: 10px;
	    		margin-left: -5px;
	    	}
	    }
	    .spf-action {
    	    width: 100%;
		    display: inline-block;
		    vertical-align: top;
		    margin-top: 15px;
	    	.price_filter_details {
    		    float: left;
				margin-top: 5px;
	    	}
	    	button {
	    		float: right;
			    background: #000;
			    border: none;
			    color: #fff;
			    font-size: 12px;
			    padding: 4px 10px;
			    text-transform: uppercase;
			    letter-spacing: 0.5px;
			    cursor: pointer;
			    &:after {
			    	background:#333;
			    }
	    	}
	    }

	}

	/*collaps*/
	.collapsible_attr_name {
	    margin: 0 !important;
	    padding: 3px 0;
	    font-size: 14px;
		.clear_attr_filter {
			margin-top: 17px;
		}
		> a {
		    color: rgba(84, 84, 84, 0.8);
		    display: block;
		    position: relative;
		    cursor: pointer;
		    padding-left: 15px;
			strong {
				font-weight: 500;
			}
			.icon {
			    top: 3px;
			    position: absolute;
			    left: 0;
			    z-index: 1;
			    height: 12px;
			    width: 6px;
			    text-align: center;
			    margin: auto;
				@include transition(all, 0.4s, ease);
				&:before {
				    content: "";
				    border-top: 6px solid transparent;
				    border-left: 6px solid #6d6d6d;
				    float: left;
				    position: absolute;
				    top: 1px;
				    left: 0;
				    margin: 0;
				    border-bottom: 6px solid transparent;
				    bottom: 0;
				    height: 0px;
				    border-radius: 5px;
				}
			}
		}
		&:hover {
			> a {
				color: $as-theme;
			}
		}
		&.section_open {
			border-bottom: none;
			> a {
				.icon {
					&:before {
						transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
					}
				}
			}
			+ .collapsible_attr_value {
				display: block;
				margin: 0;
			}
		}
	}
	.collapsible_attr_value {
		display: none;
		padding: 2px 0px 10px 15px;
	}

	/*Filter Attribute*/
	.nav {
		margin: 0;
		padding: 0;
		li {
			width: 100%;
			> div {
				margin-bottom: 10px;
				position: relative;
				> strong {
					font-weight: 600;
					font-size: 14px;
					color: #323232;
				}
			}
			label.css_attribute_color {
				width: 20px;
				height: 20px;
				border-radius: 50%;
			}
			label:not(.css_attribute_color) {
				margin: 0 !important;
				font-size: 14px;
			}
			// Check Box Design
			@include checkbox;

			.nav {
				> li {
					margin-bottom: 0;
				}
				label {
					margin: 0 !important;
					padding: 5px 0;
					color: $body-color;
					&.active {
						background: none;
						color: $as-theme;
					}
				}
			}
		}
	}

	/*Clear Filter*/
	.clear_attr_filter {
		position: absolute;
		font-size: 10px;
		padding: 2px 0;
		margin-top: 2px;
		display: inline-block;
		border-radius: 30px;
		color: #d21616;
		cursor: pointer;
		top: 0;
		right: 0;
		text-transform: uppercase;
		i {
			margin-right: 2px;
		}
	}

	@media(max-width: 991px) {
		display: block !important;
		position: fixed;
		top: 0;
		left: -400px;
		@include transition(all, 0.4s, ease);
		flex: 0 0 290px;
		max-width: 290px;
		background: $as-light;
		box-shadow: 0px 0px 21px 0px rgba($as-dark, 0.17);
		z-index: 999;
		overflow-y: auto;
		bottom: 0;
		padding: 20px;
		&.mob_filter_btn_open {
			left: 0;
		}
	}
}

/**/




/* Toolbar
--------------------------------------*/
.as-product-bottom {
	margin-top: 30px;
	.aspl-left {
		text-align: center;
	}
	.btn_load_more_products {
		padding: 10px 20px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    color: #ffffff;
	    text-transform: uppercase;
	    font-weight: 500;
	    display: inline-block;
	    border-radius: 3px;
	    text-align: center;
	    border: none;
	    background: $as-theme;
	    cursor: pointer;
	    &:hover {
	    	background:$as-dark;
	    }
		&.disabled {
			cursor: not-allowed;
			opacity: 0.6;
			&:hover {
				background:$as-theme;
			}
		}
	}
}
.products_pager {
	margin-top: 30px;
	position: relative;
	&:not(.products_pager_top){
		@media(min-width: 991px){
			padding-left: 18%;
		}
	}
	&.products_pager_top {
		margin-top: 0;
		margin-bottom: 20px;
		text-align: left;
	}
	.oe_search_found {
	    position: absolute;
	    right: 0;
	    top: -35px;
	    background: #fff;
	    padding: 5px 12px 6px;
	    font-size: 14px;
	    border-radius: 3px;
	    line-height: 14px;
	    border: 1px solid #eee;
	}
	.row {
		margin-right: -10px;
		margin-left: -10px;
		.col-auto {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.view-mode {
		float: left;
		button {
            padding: 0;
		    width: 32px;
		    height: 32px;
		    font-size: 18px;
		    color: #b7b7b7;
		    border: 1px solid #dddddd;
		    background: none;
		    line-height: 34px;
		    cursor: pointer;
			&.active {
				color: $as-theme;
			}
		}
	}
	.shop-filter-item_qty {
	    float: left;
	    border: 1px solid #ddd;
	    padding: 0 0 0 14px;
	    font-size: 14px;
		label {
		    display: inline-block;
		    vertical-align: middle;
		    margin: 0;
		    padding-right: 10px;
		    font-size: 13px;
		    text-transform: uppercase;
		    font-weight: 600;
		    color: #666;
		}
		.custom-select {
	        display: inline-block;
		    vertical-align: middle;
		    width: 70px;
		    border: none;
		    border-left: 1px solid #ddd;
		    height: 32px;
		    outline: none;
		    border-radius: 0;
		    box-shadow: none;
			@media(max-width: 767px) {
				width: 60px;
				padding: 6px 10px;
			}
		}
	}

	.shop-filter-mob {
			display: none;
			float: left;
			text-align: right;
			margin-bottom: 10px;
			margin-right: 15px;
			.shop_filter.sf_close {
				position: fixed;
				top: 0;
				left: 290px;
				bottom: 0;
				right: 0;
				background: rgba(0,0,0,.5);
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				margin: 0;
				cursor: url(/alan_customize/static/src/img/cross-out.png), auto;
				z-index: 9999;
			}
			.shop_filter:not(.sf_close) {
				height: 35px;
			    margin: 0;
			    line-height: 35px;
			    font-weight: normal;
			    border: 1px solid #ddd;
			    text-transform: uppercase;
			    font-size: 16px;
			    float: right;
			    color: #333;
			    background: #fff;
			    position: relative;
			    width: 35px;
			    text-align: center;
			    cursor: pointer;
				span {
					display: none;
				}
				i {
				}
			}
			@media (max-width: 991px) {
				display: block;
			}
			&.shop_filter_box_mob {
				.shop_filter.sf_close {
					opacity: 1;
					visibility: visible;
					z-index: 99;
					pointer-events: auto;
				}
			}
		}

	.dropdown_sorty_by{
		float: right;
		max-width: 100%;
		margin-right: 10%;
		a.dropdown-toggle {
		    background: none !important;
		    height: 32px;
		    font-size: 14px;
		    color: #323232;
		    border: 1px solid #dddddd !important;
		    padding: 0 10px;
		    line-height: 30px;
		    font-weight: 500;
		    white-space: nowrap;
		    max-width: 100%;
		    display: inline-block;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    letter-spacing: normal;
		    text-transform: uppercase;
		}
		.dropdown-menu{
	        padding: 0;
		    border: none;
	        transform: none !important;
		    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.2);
		    top: 100% !important;
		    right: 0 !important;
		    left: auto !important;
		    width: 200px;
			> li {
				> a {
				    padding: 6px 15px;
				    display: block;
				    vertical-align: top;
				    font-size: 13px;
				    color: #333;
				    &:hover {
				    	color:$as-theme;
				    	background: #f1f1f1;
				    }
				}
			}
		}
		.form-group{
			float: right;
			.control-label{
				border-radius: 0;
				display: inline-block;
				vertical-align: middle;
				float: none !important;
				margin: 0;
			}
			.form-control{
				border-radius: 0;
				display: inline-block;
				vertical-align: middle;
				float: none !important;
				margin: 0;
			}
		}
		@media (max-width:767px){
			.form-group{
				width: 100%;
				text-align: right;
				.control-label{

				}
				.form-control{
				}
			}
		}
	}
	@media(max-width: 767px){
		.hidden-xs {
			display: none !important;
		}
	}
}

/*Forms*/
.form-control {
	border-radius: 0;
	&:focus {
		border-color:#999;
		box-shadow: none;
	}
}
/**/


/*Login page*/
.oe_website_login_container {
	background: #f4fdff;
	padding: 20px;
	min-height: 100%;
}
.oe_login_form,
.oe_signup_form,
.oe_reset_password_form {
	max-width: 340px;
    position: relative;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    .btn-link {
	    padding: 0;
		font-size: 12px;
    }
    .form-control {
    	box-shadow: none;
    }
}
/**/

.s_website_form{
	.btn-primary{
		text-transform: uppercase;
		font-weight: 600;
		padding: 8px 20px;
		font-size: 13px;
	}
}

.oe_menu_editor{
	.ui-sortable-handle{
		.input-group-addon.fa{
			display: table-cell;
		}
	}
}


#oe_manipulators .dropdown-menu li.snippet-option-o_animate li.active > a::after,
#oe_manipulators .dropdown-menu li.snippet-option-o_animate_duration li.active > a::after,
#oe_manipulators .dropdown-menu li.snippet-option-o_animate_delay li.active > a::after,
#oe_manipulators .dropdown-menu li.snippet-option-o_animate_options li.active > a::after {position: absolute; right: 6px; top: 7px;}
.oe_menu_editor .input-group-btn .js_edit_menu,
.oe_menu_editor .input-group-btn .js_delete_menu {font-size: 14px; line-height: 1.42857143;}
.oe_menu_editor li ul { margin-top: 10px; }



/*Cart Page
-----------------------------------*/
#wrap.oe_website_sale {
	margin-bottom: 0;
	margin-top: 0;
}
.oe_website_sale {
	margin-bottom: 40px;
	margin-top: 40px;
	@media(max-width: 767px){
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.card {
		#cart_products {
			border:none;
		}
	}
	#cart_products + h5.js_cart_lines {
		color: #323232;
	}
	#suggested_products,
	#cart_products {
		border:1px solid #eee;
		thead {
			background: #323232;
			color: #fff;
			th {
				font-weight:400;
				border: none;
			}
		}
		.css_quantity {
			@include css_quantity;
		}
		.js_delete_product {
			font-size: 18px;
		}
		tr {
			th,
			td {
				padding: 10px;
			}
			td {
				color: #323232;
				a {
					color: #323232;
					strong {
						font-weight:400;
					}
				}
				&.td-product_name {
					strong {
						font-weight:400;
					}
				}
			}

		}
		tbody {
			tr {
				&:nth-of-type(odd) {
					background: #fff;
				}
			}
		}
	}

	#cart_total {
		td {
			strong {
				color: #323232;
				font-weight: 500;
			}
			a.show_coupon {
				margin-right: 10px;
			}
		}
		.coupon_form {
			padding: 0 10px;
			form.mb32 {
				margin: 0 !important;
			}
		}
	}
}

.wizard {
	.progress-wizard {
	    padding: 0 0 30px;
	    width: 100%;
	    display: inline-block;
	    vertical-align: top;
	    .progress-wizard-step {
	    	padding-left: 15px;
	    }
		&-step {
			&.active {
				.progress-wizard-dot {
					background: $as-theme;
					box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.25rem $as-theme;
				}
			}
		}
	}
}



/* Wishlist page
---------------------------------------------*/
.wishlist-section {
  padding-top: 40px;
  @media(max-width: 767px) {
	padding-top: 20px;
  }
  h3 {
	color: #323232;
  }
  .table {
  	border: none;
  	tr {
  		background: none !important;
		box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.13);
	    margin-bottom: 20px;
	    display: flex;
	    background: none !important;
        display: flex;
		flex-wrap: wrap;
		align-items: center;
	    td {
	    	flex: 0 0 150px;
	    	max-width: 150px;
	    	text-align: left;
	    	&.td-img {
	    		flex: 0 0 100px;
	    		max-width: 100px;
	    	}
	    	&.text-left {
	    		flex: 0 0 calc(100% - 400px);
	    		max-width: calc(100% - 400px);
	    		@media(max-width: 767px) {
	    			flex: 0 0 calc(100% - 300px);
	    			max-width: calc(100% - 300px);
	    		}
	    		@media(max-width: 640px) {
	    			flex: 0 0 100%;
	    			max-width: 100%;
	    			border-bottom:1px solid #ddd;
	    		}
	    		> strong {
	    			display: block;
	    			width: 100%;
	    		}
	    	}
	    	&.td-wish-btn {
	    		flex: 0 0 150px;
	    		max-width: 150px;
	    	}
	    }
  	}
	td {
		border: none;
		padding: 15px;
		vertical-align: middle;
		p.text-muted {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		strong {
			font-weight: 500;
		}
		.o_wish_rm {
		    padding: 0;
		    font-weight: 500;
		    text-transform: uppercase;
		    small {
		    	font-size: 12px;
    			font-weight: 500;
		    }
		}
		a:not(.btn) {
			color: #323232;
		}
	}
  }
}

/* Shop Zoom Slider
------------------------------------*/
#image_gallery_slider  {
	.close {
	    position: absolute;
	    top: 20px;
	    right: 20px;
	    z-index: 9;
	    width: 40px;
	    height: 40px;
	    background: #000;
	    opacity: 1;
	    border-radius: 50%;
	    color: #fff;
	    padding: 0;
	    line-height: 40px;
	    font-size: 20px;
	    text-shadow: none;
	    &:hover {
	    	background:$as-theme;
	    }
	}
	.modal-dialog {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    border-radius: 0;
	    border: none;
	    max-width: 100%;
	    background: rgba(255,255,255,.9);
	    .modal-body {
	    	padding: 0;
	    }
	}
	.owl-carousel {
		.owl-item {
			.item {
				height: 100vh;
				position: relative;
			}
			img {
		        max-width: 100vw;
			    display: block;
			    margin: auto;
			    max-height: 100vh;
			    width: auto;
			    height: auto;
			    position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			}
		}
		.owl-nav {
			.owl-next,
			.owl-prev {
				background: none;
				border:none;
				line-height: 80px;
			    width: 80px;
			    height: 80px;
			    &:after {
	    	        width: 20px;
				    height: 34px;
				    line-height: 34px;
				    margin: auto;
				    font-size: 60px;
				    color: #666;
			    }
			    &:hover {
			    	&:after {
			    		color:#000;
			    	}
			    }
			}
		}
	}
}


/* Portal view
----------------------------*/
.o_portal_sale_sidebar {
	.list-group-item {
		img.o_portal_contact_img {
			min-width: 2.3em;
		}
	}
}

.o_portal_chatter {
	.o_portal_chatter_messages {
		.o_portal_chatter_message {
			background: #f5f5f5;
		    padding: 20px;
		    margin-bottom: 20px;
		    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.07);
		    .o_portal_chatter_message_title {
	    	    margin-bottom: 15px;
			    border-bottom: 1px dashed #ddd;
			    padding-bottom: 15px;
		    }
		}
	}
}

/* Hide filter if not sidebar selected
-------------------------------------------------*/
#products_grid_before:not(.col-lg-3) + #products_grid .products_pager .shop-filter-mob  {display: none;}


/* Portal
-------------------------------------------------*/
main {
	> .o_portal {
		> .row {
			&.bg-white {
				margin-bottom: 20px;
			}
		}
	}
}
